.background {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vmin;
    width: 80vmin;
    perspective: 100vmin;
    /* background-color: #eee;
    background-image: linear-gradient(to right, transparent 99%, gray 0), linear-gradient(to bottom, transparent 99%, gray 0);
    background-size: 10% 100%, 100% 10%; */
}

:root {
    --skin: #fca;
    --iris: #68a;
    --hair: #fe8;
    --shirt: #eef4ff;
    --line: rgba(80, 0, 0, 0.15);
}


.character {
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 5%;
}

.character + .character {
    transform: scaleY(-1) translateY(-90%);
    /* opacity: .5; */

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 150%;
        width: 100%;
        background-image: linear-gradient(to top, transparent 10%, #fff);
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 150%;
        z-index: 1;
        width: 100%;
        background-image: linear-gradient(to top, transparent 10%, #fff);
    }
}

.background div {
    position: absolute;
    box-sizing: border-box;
}

.face {
    width: 36%;
    height: 45%;
    background-color: var(--skin);
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100% 100% / 20% 20% 120% 120%;
}

.neck {
    width: 15%;
    height: 25%;
    background-color: var(--skin);
    top: 46%;
    border-radius: 8vmin;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: inset 0 25.5vmin 0 -15vmin var(--line), inset 0 -3vmin 0 -1vmin rgba(0, 0, 0, .2), inset 0 -3vmin 0 -1vmin var(--shirt);
}

.mouth {
    width: 40%;
    height: 3%;
    border: 0.25vmin solid rgba(0, 0, 0, .2);
    border-top: transparent;
    border-radius: 100% / 100% 100% 40% 50%;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nose {
    width: 16%;
    height: 30%;
    background: var(--line);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    clip-path: polygon(50% 0%, 60% 88%, 0% 85%, 55% 100%, 100% 88%);
}

.ear {
    width: 8%;
    height: 18%;
    border-radius: 90% 100% 70% 100% / 70% 100%;
    background: var(--skin);
    box-shadow: inset -9vmin 0 0 -7vmin var(--line);
    transform: rotate(-10deg);
    top: 28%;
    left: 27%;
}

.ear::before {
    width: 60%;
    height: 80%;
    border-radius: 100% 50% 0 0;
    border: 0.25vmin solid var(--line);
    border-left-color: transparent;
    border-bottom-color: transparent;
    top: 15%;
    left: 4%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}

.ear::after {
    width: 2vmin;
    height: 2vmin;
    border: 0.25vmin solid var(--line);
    border-radius: 50%;
    top: 50%;
    right: 8%;
}


.b {
    border: 1vmin solid black;
}

.r {
    border-radius: 100%;
}

.hb::before,
.ha::after {
    content: "";
    display: block;
    position: absolute;
}


.ear+.ear {
    transform: scaleX(-1) rotate(-10deg);
    left: auto;
    right: 27.125%;
}

.eye {
    width: 35%;
    height: 13%;
    background-color: white;
    border-radius: 80% 90% 30% 40% / 70% 100% 90% 100%;
    top: 28%;
    right: 7%;
    box-shadow: 0 -0.5vmin var(--line);
    overflow: hidden;
}

.eye + .eye {
    transform: scaleX(-1);
    right: auto;
    left: 7%;
}

.pupil{
    width: 25%;
    height: 50%;
    background: #222;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    box-shadow: 0 0 0 1.6vmin var(--iris);
}

.eye-bright{
    width: 1vmin;
    height: 1vmin;
    background-color: #fff;
    border-radius: 50%;
    top: 25%;
    filter: blur(.1vmin);
    left: 40%;
    box-shadow: -0.5vmin 0.75vmin 0 -0.25vmin white;
}

.eye + .eye .eye-bright{
    left: 50%;
    box-shadow: 0.5vmin 0.75vmin 0 -0.125vmin white;
}

.cheek{
    width: 80%;
    height: 10%;
    background: #f002;
    top: 50%;
    left: 50%;
    filter: blur(1vmin);
    transform: translate(-50%, -50%);
    border-radius: 20% 20% 100% 100%;
}

.eyebrow{
    width: 40%;
    height: 20%;
    top: 15%;
    right: 4%;
    box-shadow: -0.25vmin -1.5vmin 0 -0.25vmin rgba(0, 0, 0, .1), -0.25vmin -1.5vmin 0 -0.25vmin var(--hair);
    transform: rotate(8deg);
    border-radius: 100% 90% 100% 40% / 70% 100% 90% 100%;
}

.eyebrow + .eyebrow{
    transform: scaleX(-1) rotate(12deg);
    left: 4%;
    right: auto;
}


.forehead{
    width: 36%;
    height: 8%;
    border-radius: 50%;
    background-color: var(--skin);
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shoulders{
    width: 70%;
    height: 30%;
    background-color: var(--shirt);
    border-radius: 50%;
    top: 64%;
    left: 50%;
    color: rgba(0, 0, 0, 0.404);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 600;

    transform: translate(-50%, 0);
    clip-path: polygon(0 40%, 40% 10%, 40% 0, 60% 0, 60% 10%, 100% 40%, 100% 100%, 0 100%);
}

.hair-back{
    width: 45%;   
    height: 56%;
    background-color: var(--hair);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100% 100% / 80% 80% 120% 120%;
    box-shadow: inset 0 0 0 10vmin rgba(0, 0, 0, .075);
}

.hair-front-1{
    width: 28%;
    height: 20%;
    background-color: var(--hair);
    left: 50%;
    top: 0%;
    border-radius: 0 100% 0 100%;
}

.hair-front-1 + .hair-front-1{
    left: 20%;
    top: -5%;
    transform: rotate(-50deg);
}

.hair-front-2{
    width: 30%;
    height: 24%;
    background-color: var(--hair);
    border-radius: 100% 0 120% 0;
    left: 20%;
    top: 0.75%;
    transform: rotate(-3deg);
}

.hair-front-2 + .hair-front-2{
    height: 20%;
    width: 35%;
    transform: rotate(7deg);
    border-radius: 100% 0 140% 0;
    left: 42%;
    top: -11.5%;
}

.hair-front-3{
    width: 33%;
    height: 13%;
    background-color: var(--hair);
    border-radius: 0 100% 0 100%;
    left: 50%;
    top: -3.5%;
    transform: rotate(-25deg);
}

.hair-front-3 + .hair-front-3{
    transform: rotate(3deg);
    top: 0;
    left: 53%;
}

.hair-bangs{
    width: 35%;
    height: 28%;
    border-radius: 50%;
    left: 13.5%;
    top: -5%;
    box-shadow: 3vmin 0 var(--hair);
    transform: rotate(-10deg);
    clip-path: polygon(0 50%, 150% 50%, 150% 100%, 0 100%);
}

.shirt-neck{
    width: 10%;
    height: 8%;
    background: var(--shirt);
    transform: skew(-10deg) rotate(25deg);
    top: 64.125%;
    left: 35%;
    box-shadow: inset 0 0 0 5vmin rgba(0, 0, 0, .1);
}

.shirt-neck + .shirt-neck{
    transform: scaleX(-1) skew(-10deg) rotate(25deg);
    left: auto;
    right: 35%;
}

.ear-rings{
    height: 5%;
    width: 4%;
    border-left: .5vmin solid gold;
    border-bottom: .5vmin solid gold;
    border-top: .5vmin solid transparent;
    border-right: .15vmin solid transparent;
    border-radius: 250% 70% 200% 290%;
    top: 44%;
    left: 32%;
    transform: translate(-50%, -50%);
}

.ear-rings + .ear-rings{
    top: 41.5%;
    right: 30%;
    transform: scaleX(-1);
    left: auto;
}

.ear-rings-alt{
    height: 3%;
    width: 2%;
    border-radius: 50%;
    background-color: var(--shirt);
    top: 43%;
    box-shadow: 0 0 .85vmin rgba(85, 215, 219, 0.52);
    left: 31.5%;
    transform: translate(-50%, -50%) skew(10deg);
}

.ear-rings-alt + .ear-rings-alt{
    top: 41.5%;
    right: 30.5%;
    transform: scaleX(-1) skew(10deg);
    left: auto;
}